/*.menu{
  //background-color: Blue;
  //width: auto;

  //padding: 10px;
}*/
body{
  //background-image: linear-gradient(blue, purple);
  //background-repeat: no-repeat;
  //background-size: cover;
  background-color: #eeccff;
}
.menucontent{
  //box-sizing: border-box;
  //border: 1px solid red;
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: purple;
  text-align: right;
  position: fixed;   /*this class elemets are fixed in the webpage...irrespect of scrolling*/
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1; /*z-index support integer value, higer value appear at top*/
}
.menu a{
  color: white;
  font-weight: bold;
  /*font-family: cursive; not working (update: working but font not available in ubuntu)*/
  font-size: 20px;
  margin: 10px;
  //width: auto;
  /*text-align: right; this one not working bcz there is nothing inside menu class*/
  border: 2px solid black;
  border-radius: 7px;
  padding: 5px;
  //background-color: lightblue;
}
.menu a:hover{
  color: red;
  background-color: black;
  border: 2px solid red;
}
.company_name h2{
  color: white;
  font-size: 50px;
  text-transform: uppercase;
  position: fixed;
  top: -10px;
  left: 90px;
  z-index: 4;
}
/* .bharatbiz{
  position: fixed;
  left:90px;
  z-index: 3;
  height: 80px;
  //width: 60px;
} */
.logo{
  height: 80px;
  width: 80px;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 2;
}

.logo2{
  height: 300px;
  width: 300px;

}
#about p{
  position: absolute;
  top: 85px;
  left: 350px;
  font-size: 25px;
  width: 800px;
}

.photos{
  height: 200px;
  width: 200px;
  padding-top: 15px;
}
.ceo, .cto, .tech, .operations{
  display: inline-block;
}
.top, .middle, .below{
  text-align: center;
}
.member{
  width: 250px;
  border: 2px solid black;
  //padding: 0px 3px;
  margin: 10px;
  background-color: orange;
}
.member:hover{
  transform: scale(1.1);
}
.tech{
  width: 220px;
}
.member p{
  text-align: center;
}
#about{
  position: relative;
  top: 100px;
}
#team, #contact, .gallery, .details{
  position: relative;
  top: 100px;
}
.pics{
  height: 400px;
  width: 200px;
}
.khidkivideo{
  height: 440px;
  width: 200px;
}
.details{
  text-align: center;
}
.details a{
  color: blue;
}
.details a:hover{
  color: red;
  border: 1px solid red;
  border-radius: 5px;
  padding: 3px;
}
#contact{
  background-color: #262626;
  color: white;
  width: 100%;
}
ul{
  text-align: right;
  list-style: none;
  //color: white;
}
li{
  display: inline-block;
  //color: white;
  font-size: 28px;
  margin-left: 20px;
}
#contact a{
  color: white;
}
#contact a:hover{
  color: lightblue;
}
.media{
  height: 23px;
  width: 23px;
}
p{
  //font-family: georgia;
}
