body{
  text-align: center;
  background-color: lightblue; /*background-image override background-color*/
  background-image: url(pexels-photo-356968.jpeg);
  //background-size: contain;
}

h1{
  font-size: 40px;
  color: red;
  font-family: georgia;
  width: 300px;
  //height: 100px;
  margin: 0 auto;
  border: 2px solid black;
  padding: 10px;
}

.userDetails{
  width: 300px;
  border: 2px solid red;
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto;
}
.labelname label{
  float: left;
}
.labelname input{
  float: right;
}
.labelname select{
  text-align: left;
  float: right;
}
.labelname select{
  width: 145px;
}
/*.labelname select:focus{
  min-width: 145px;
  width: auto;
}*/
